<%- include('partials/header') -%>
<span>Only News</span>

<% for(var i=0; i<5; i++) {%>
<div class="news card">
</div>
<% } %>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/postPage/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/post">Return to Profile</a>
    </div>
  </div>
  <script src="js/webAPI.js"></script>
  <%- include('partials/footer') -%>