<%- include('partials/header') -%>

  <div class="container card text-center shadow " style="margin-top: 7rem; min-width: 300px; max-width: 450px; height:auto">
    <h1 class="display-5">Sign in or create account</h1>
    <div class="btn-group flex-column">
      <a class="btn btn-outline-primary btn-lg col" href="/login"> Login</a>
      <a class="btn btn-outline-primary btn-lg col" href="/signup"> Signup</a>
    </div>

  </div>


    <%- include('partials/footer') -%>
