h1,
h2 {
    color: #123554;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}

header{
    margin-top: 2%
}

span{
    color: rgba(37,112,176,255)
}

.newsImg {
    height: auto;
    width: 20vw;
}

a:link {
    text-decoration: none;
  }

.card {
  padding: 1rem;
  min-height: 30vh;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-7 {
  margin-top: 7rem;
}

.inline {
  display: inline-block;
}

.pcontainer {
  display: flex;
  flex-wrap: wrap;
}

ul.pcontainer {
  list-style-type: none;
}
.pcontainer .card {
  display: flex;
  justify-content: space-between;
}
.pcontainer .todoItem {

}
.row.ret {
  margin-left: 1rem;
  margin-right: 1rem;
}

#imageUpload[type='file'] {
  display: none
}

#uploadPreview {
  max-width: 8rem;
  max-height: 6rem;
  display: block;
  margin-left: 2rem;
}

#post input[type='submit'] {
  display: block;
}
