h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
header{
    margin-top: 2%
}
h2 {
    color: black;
    
}
span{
    color: rgba(37,112,176,255)
}