
h1{
    color: #123554;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}
header{
    margin-top: 2%
}
h2 {
    color: black;

}
span{
    color: rgba(37,112,176,255)
}

.newsImg {
    height: auto;
    width: 20vw;
}

a:link {
    text-decoration: none;
  }

.card {
  padding: 1rem;
    height: 30vh;
    width: 45vw;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.mt-7 {
  margin-top: 7rem;
}

#footerIMG{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80vw;
  height: auto;
}

ul {
  margin-top: 1rem;
  display:flex;
  justify-content: space-between;
  font-size: 2vw;
  list-style: none;

}

/* .githubContainer ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
